@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 500px;
  background: rgba(255, 255, 255, 0.616);
  position: relative;
}

@media (max-width: 500px) {
  .container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100vw;
  background: rgba(255, 255, 255, 0.616);
  position: relative;
}
}